<% const year = new Date().getFullYear() %>

<footer class="page-footer font-small mt-auto">
    <div class="footer-copyright text-center">
        Copyright &copy; <%= year %>  <a href="https://ambertaveras.dev/" target="_blank" class="text-reset fw-bold">Amber Taveras</a>
        <br>
        All Rights Reserved
    </div>
</footer>