<% const year = new Date().getFullYear() %>

<footer class="page-footer font-small fixed-bottom">
    <div class="footer-copyright text-center">
        Copyright Weightlifting Training Log App &copy; <%= year %>
    </div>
</footer>