<nav>
    <ul>
        <% if (user) { %>
            <li>
                <a href="/workouts">Workouts</a>
            </li>
            <li>
                <a href="/favorites">Favorites</a>
            </li>
            <li>
                <a href="/movements">Movements</a>
            </li>
            <li>
                <a href="/users/me">View Profile</a>
            </li>
            <li>
                <a href="/users/search">Search for Users</a>
            </li>
            <li>
                <a href="/logout">Logout</a>
            </li>
        <% } else { %>
            <li>
                <a href="/signup">Sign Up</a>
            </li>
            <li>
                <a href="/login">Login</a>
            </li>
        <% } %>
    </ul>
</nav>