<nav class="navbar navbar-expand-lg navbar-light mb-3 mx-3">
    <a class="navbar-brand" href="/">Weightlifting Training Log</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <% if (user) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/workouts">Workouts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/favorites">Favorites</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/movements">Movements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/me">View Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/search">Search for Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            <% } else { %>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            <% } %>
        </ul>
    </div>
</nav>


<script>
    $(document).ready(function() {
        const $navbarButton = $('.navbar-toggler');
        const $navbarContent = $('#navbarNav');
        $navbarButton.on('click', function() {
            $navbarContent.toggleClass('show');
        });
    });
</script>

