<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head'); %>
<%- include('./partials/nav'); %>

<body>
    <h2>Please Login</h2>
    <div class="container-fluid center">
        <form action="/login" method="POST" autocomplete="off" class="form">
            <div class="mb-3 form-floating">
                <input type="email" name="email" class="form-control" id="email" required>
                <label for="email">Email address</label>
            </div>
            <div class="mb-3 form-floating">
                <input type="password" name="password" class="form-control" id="password" required>
                <label for="password">Password</label>
            </div>
            <div class="mb-3 center">
                <input type="submit" value="Login" class="btn btn-outline-secondary btn-lg">
            </div>
        </form>
    </div>

    <%- include('./partials/footer'); %>

</body>

</html>