<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head'); %>
<%- include('./partials/nav'); %>

<body>
    <h1>this is the profile of user <%= user.firstName %></h1>

    <%- include('./partials/footer'); %>

</body>

</html>