<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head'); %>
<%- include('./partials/nav'); %>

<body>
    <h2>Sign Up</h2>
    <div class="container-fluid center">
        <form class="form" action="/signup" method="POST" autocomplete="off">
            <div class="mb-3 form-floating">
                <input type="text" name="firstName" class="form-control" id="firstName" required>
                <label for="firstName">First Name</label>
            </div>
            <div class="mb-3 form-floating">
                <input type="email" name="email" class="form-control" id="email" required>
                <label for="email">Email address</label>
            </div>
            <div class="mb-3 form-floating">
                <input type="password" name="password" class="form-control" id="password" required>
                <label for="signupPassword">Password</label>
            </div>
            <div class="mb-3 form-floating">
                <input type="password" name="passwordConfirmation" class="form-control red" id="confirmation" required>
                <label for="confirmation">Confirm Password</label>
            </div>
            <span class="center" id="message"></span>
            <br>
            <div class="mb-3 center">
                <input type="submit" value="Sign Up" id="signupSubmit" class="btn btn-outline-secondary btn-lg" disabled>
            </div>
        </form>
    </div>

    <%- include('./partials/footer'); %>

</body>

</html>