<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head'); %>

<body>
    <div class="container">
        <%- include('./partials/nav'); %>
        <div class="container-md">
            <div class="vert-index">
                <div class="jumbotron w-100 px-5">
                    <h1 class="display-5">Hello, Welcome to the Weightlifting Training Log!</h1>
                    <p class="lead">
                        An app that allows you to plan and track your weightlifting workouts for the week
                    </p>
                    <hr class="my-2">
                    <p>
                        Use the default movements to add to your weightlifting workouts, or create your own!
                    </p>
                    <p class="lead">
                        <a class="btn btn-outline-success btn-sm" href="https://github.com/ambertav/workout-tracker"
                            target="_blank" role="button">Learn more on GitHub</a>
                    </p>
                </div>
            </div>
            <div class="vert-index my-1">
                <h3 class="my-2">Please Login</h3>
                <form action="/login" method="POST" autocomplete="off" class="welcome-form px-5">
                    <div class="mb-1 form-floating">
                        <input type="email" name="email" class="form-control" id="email" required>
                        <label class="small-text" for="email">Email address</label>
                    </div>
                    <div class="mb-1 form-floating">
                        <input type="password" name="password" class="form-control" id="password" required>
                        <label class="small-text" for="password">Password</label>
                    </div>
                    <div class="my-3 center">
                        <input type="submit" value="Login" class="btn btn-outline-secondary">
                    </div>
                </form>
                <p class="text-center py-2">
                    Don't have an account?
                    <a href="/signup" class="btn btn-outline-secondary btn-xs">Sign up now</a>
                </p>
            </div>
        </div>
    </div>
    <%- include('./partials/footer'); %>
</body>
</html>